/* This is css common to multiple pages */
:root {
  --primary-bg-color: #fadede;
  --primary-text-color: #992222;
}

@keyframes becomeVisible {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
section {
  animation: 0.075s ease-in becomeVisible;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}

.header__item {
  text-decoration: none;
  color: var(--primary-text-color);
}

.content {
  text-align: center;
}
