#clock,
#hour-hand,
#minute-hand,
#second-hand {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 512px;
  height: 512px;
}

#clock {
  position: relative;
  margin: 64px auto 0 auto;
  background-image: url(clockface.png);
}

#hour-hand,
#minute-hand,
#second-hand {
  position: absolute;
}

#hour-hand {
  background-image: url(hourhand.png);
}
#minute-hand {
  background-image: url(minhand.png);
}
#second-hand {
  background-image: url(sechand.png);
}
