.content {
  text-align: center;
}

#clock,
#hour-hand,
#minute-hand,
#second-hand {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 512px;
  height: 512px;
}

#clock {
  position: relative;
  margin: 64px auto 0 auto;
  background-image: url(clockface.png);
}

#hour-hand,
#minute-hand,
#second-hand {
  position: absolute;
}

#hour-hand {
  background-image: url(hourhand.png);
}
#minute-hand {
  background-image: url(minhand.png);
}
#second-hand {
  background-image: url(sechand.png);
}

#time-input,
#set-time {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  border: solid 1px;
  height: 20px;
}

#set-time:hover {
  opacity: 0.8;
  transition: opacity 0.05s;
}

#set-time:active {
  opacity: 0.5;
  transition: opacity 0.05s;
}
